a:hover, a:focus {
  text-decoration: none;
}
::-webkit-scrollbar {
  height: 7px;              /* height of horizontal scrollbar ← You're missing this */
  width: 7px;               /* width of vertical scrollbar */
  border: 1px solid #d5d5d5;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #ccc;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #888;
}
body{
  /* overflow: hidden; */
}
main{
  min-height: 100vh;
  background-color: #e3e7ec;
  /* background-color: #c3d3e3; */
  /* padding: 2rem 0; */
  font-family: 'Lato', sans-serif;
}
.nav-search-box{
  display: -ms-flexbox!important;
  display: flex!important;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-align: center;
  align-items: center;
}
.nav-search-box .search-input-group{

}
.modal-header .close {
    margin: -1rem -1rem -1rem 0;
}
.nav-search-box .search-input-group .form-control{
  border-radius: 20px 0 0 20px;
}
.nav-search-box .search-input-group .form-control:focus{
  border: none;
  box-shadow: none;
}
.nav-search-box .search-input-group .input-group-append{

}

.nav-search-box .search-input-group .input-group-append button.btn{
  border-radius: 0 20px 20px 0;
}
.extra-actions .btn.btn-rounded {
  font-size: 28px;
  width: 40px;
  height: 40px;
  line-height: 41px;
  border-radius: 50%;
  padding: 0;
  text-align: center;
  border-width: 2px;
}
.new-order{
  padding: 80px 0 60px;
  background-color: rgba(255,255,255,0.7);
  /* border-radius: 5px; */
  /* box-shadow: 0 0 34px #9a9ebe; */
  min-height: calc(100vh - 140px);
}
.products-tree{

}
.order-title{
  background: rgb(180,223,255);
  background: radial-gradient(circle, rgba(180,223,255,1) 0%, rgba(243,250,255,1) 100%);
}
.level-one{
  margin-bottom: 1rem;
}
.level-one h4,
.level-two h4,
.level-three h5{
  color: #777;
  font-weight: 700;
  font-size: 18px;
}
.level-two{
  margin-bottom: 1rem;
  /* margin-left: 1rem; */
}
.level-three{
  /* margin-left: 2rem; */
}
.products-tree .nav-tabs{
  border: none;
}
.nav-tabs .nav-link{
  margin: 0 2px;
  padding: 0;
  /* padding: 0.5rem 0.25rem; */
  border: 1px solid #EEE;
  border-radius: 5px;
  text-align: center;
  width: 125px;
  background-color: #fefefe;
  display: block;
  min-width: 125px;
  height: 125px;
}
.level-one .nav,
.level-two .nav {
  display: inline-flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  overflow-x: auto;
  max-width: 100%;
}

.navbar-dark .navbar-brand img {
  height: 30px;
}
.products-tree .nav-tabs .nav-link img {
  display: block;
  /* width: 77px;
  margin: 0 auto 10px; */
  width: 100%;
  margin: 0 auto 10px;
  height: 50px;
}
.products-tree .nav-tabs .nav-link span{
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  white-space: pre-wrap;
  display: block;
  font-size: 16px;
  color: #666;
  font-weight: 700;
}
.products-tree .nav-tabs .nav-item.show .nav-link, 
.products-tree .nav-tabs .nav-link.active{
  background-color: cadetblue;
} 
.products-tree .nav-tabs .nav-link.active span{
  color: white;
}
.products-tree .tab-content .row {
  margin-right: -5px;
  margin-left: -5px;
  white-space: nowrap;
  display: inline-flex;
  height: 100%;
  max-height: 38vh;
  overflow-x: auto;
}
.products-tree .tab-content .row .col-2 {
  padding-right: 5px;
  padding-left: 5px;
}
.products-tree .tab-content .row .col-2 .card {
  margin-bottom: 1rem;
  border: none;
  box-shadow: 0 0 5px #ccc;
}
.products-tree .level-three img {
  border-radius: .25rem .25rem 0 0;
}
.products-tree .level-three .card-body{
  padding: 0.10rem;
  font-size: 12px;
}
.products-tree .tab-content .row .col-3 .card .card-body a {
  color: #777;
  font-weight: 700;
  font-size: 14px;
}
.products-tree .search-input-group .form-control:focus{
  border: 1px solid #007bff;
  box-shadow: none;
}

/* Modal Overriding */
.modifires .modal-header,
.modifires .modal-footer{
  background-color: #c3d3e3;
  padding: 0.65rem 1rem;
  border: none;
}
.modifires .modal-header .modal-title{
  font-size: 17px;
  color: #777;
}
.modifires .modal-body{
  background-color: #c3d3e3;
}
.modifires .modal-body .list-group .list-group-item{
  background-color: rgba(255,255,255,0.7);
  border: 1px solid rgb(0,0,0,0.05);
}
.modifires .modal-body .list-group .list-group-item h5{
  color: #666;
  font-size: 16px;
}
.order-details{
  border: 1px solid #c3d3e3;
  min-height: 52vh;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 20px;
  position: relative;
}
.order-details .table-box {
  height: 100%;
  /* max-height: calc(63vh - 120px); */
  max-height: 52vh;
  overflow-x: auto;
}
.order-details table tr {
  background-color: #FFF;
  border-bottom: 1px solid #c3d3e3;
}
.order-details table tr:first-child{
  border-radius: 5px 5px 0 0;
}
.order-details table tr:first-child td:first-child{
  border-radius: 5px 0px 0 0;
}
.order-details table tr:first-child td:last-child{
  border-radius: 0px 5px 0 0;
}
.order-details table{
  border-radius: 5px 5px 0 0;
  margin-bottom: 0px;
}
.product-price {
  position: absolute;
  right: 0px;
  top: 0px;
  background-color: #3130a6;
  padding: 0.15rem;
  border-radius: 0.25rem;
  font-size: 11px;
  font-weight: 900;
  z-index: 10;
  color: #FFF;
}
.pricing-area{
  /* position: absolute;
  bottom: 0;
  right: 0;
  padding: 1rem 2rem; */
  float: right;
}
.order-details .pricing-area p {
  font-size: 15px;
}
.pricing-area p strong {
  text-align: right;
  float: right;
  margin-left: 3rem;
}
.absolute_link{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.order-details h6{
  font-weight: 700;
}
.order-details p{
  font-size: 12px;
}
.item_modifires{
  margin-left: 1rem;
}
.note_box{
  position: relative;
  margin-top: 0.3rem;
}
.note_box .add_note{
  position: absolute;
  font-size: 17px;
}
.note_box p{
  padding-left: 1.2rem;
  font-size: 13px;
}
/**************************************************
*
*	CONTAINER STYLES
*
**************************************************/

#horiz_container_outer
{
	width:800px;
	overflow-x:hidden;
	overflow-y:hidden;
	position:relative;
	height:310px;
	margin:5px auto;
	
	border:1px solid #cccccc;
}

#horiz_container
{
	width:4040px;
	margin:0px;
	padding:0px;
	height:300px;
}

#horiz_container ul
{
	margin:0px; padding:0px;
	float:left;
}

#horiz_container_inner
{
	padding:5px;
	padding-left:0px;
}

#horiz_container li
{
	list-style:none;
	display: inline-table;
	margin:0px;
}

#horiz_container li img
{
	padding:0px;
	margin:0px;
}




/**************************************************
*
*	SCROLLING STYLES
*
**************************************************/

#scrollbar 
{ 
    position:relative; 
    width:815px; height:12px;
    display:block;
    font-size:1px;
    top:0px;
    margin:0px auto;
}

#track 
{ 
    position:absolute; left:0px; top:0;
    width:815px; height:12px; 
    background: #676767;
    -webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

#dragBar 
{
    position:absolute; left:0px; top:0px;
    width:20px; height:10px; 
    -webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.39, rgb(229,229,229)),
    color-stop(0.7, rgb(245,245,245))
);
background-image: -moz-linear-gradient(
    center bottom,
    rgb(229,229,229) 39%,
    rgb(245,245,245) 70%
);

}  
  
#left_scroll
{ 
	position:absolute; 
	border-color: transparent gray transparent transparent;
	border-style: solid;
	border-width: 5px;
	width: 0;
	height: 0px;
	cursor:pointer;
	top:1px;
	left:-15px;
}  

#right_scroll 
{ 
	position:absolute; 
	right:-15px; 
	top:1px;
	border-color: transparent transparent transparent gray;
	border-style: solid;
	border-width: 5px;
	width: 0;
	height: 0px;
	cursor:pointer;
}

/* Prevent selection problem */
#scrollbar, #track, #dragBar, #left, #right {
    -moz-user-select: none;
    -khtml-user-select: none;
}

:root {
	--white: #ffffff;
	--light: #f0eff3;
	--black: #000000;
	--dark-blue: #1f2029;
	--dark-light: #353746;
	--red: #da2c4d;
	--yellow: #f8ab37;
	--grey: #ecedf3;
}

/* #Primary
================================================== */

.checks_radios_area p{
    font-family: 'Poppins', sans-serif;
	font-size: 17px;
	line-height: 30px;
	color: var(--white);
	letter-spacing: 1px;
	font-weight: 500;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear; 
}
::selection {
	color: var(--white);
	background-color: var(--black);
}
::-moz-selection {
	color: var(--white);
	background-color: var(--black);
}
mark{
	color: var(--white);
	background-color: var(--black);
}
.section {
  position: relative;
	width: 100%;
	display: block;
	/* text-align: center; */
	margin: 0 auto;
}
.over-hide {
    overflow: hidden;
}
.z-bigger {
    z-index: 100 !important;
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked),
[type="radio"]:checked,
[type="radio"]:not(:checked){
	position: absolute;
	left: -9999px;
	width: 0;
	height: 0;
	visibility: hidden;
}
.checkbox:checked + label,
.checkbox:not(:checked) + label{
	position: relative;
	width: 70px;
	display: inline-block;
	padding: 0;
	margin: 0 auto;
	text-align: center;
	margin: 17px 0;
	margin-top: 100px;
	height: 6px;
	border-radius: 4px;
	background-image: linear-gradient(298deg, #ab44ec, #007bff);
	z-index: 100 !important;
}
.checkbox:checked + label:before,
.checkbox:not(:checked) + label:before {
	position: absolute;
	font-family: 'unicons';
	cursor: pointer;
	top: -17px;
	z-index: 2;
	font-size: 20px;
	line-height: 40px;
	text-align: center;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear; 
}
.checkbox:not(:checked) + label:before {
	content: '\eac1';
	left: 0;
	color: var(--grey);
	background-color: var(--dark-light);
	box-shadow: 0 4px 4px rgba(0,0,0,0.15), 0 0 0 1px rgba(26,53,71,0.07);
}
.checkbox:checked + label:before {
	content: '\eb8f';
	left: 30px;
	color: var(--yellow);
	background-color: var(--dark-blue);
	box-shadow: 0 4px 4px rgba(26,53,71,0.25), 0 0 0 1px rgba(26,53,71,0.07);
}

.checkbox:checked ~ .section .container .row .col-12 p{
	color: var(--dark-blue);
}


.checkbox-tools:checked + label,
.checkbox-tools:not(:checked) + label{
	position: relative;
	/* display: inline-block; */
	padding: 13px;
	width: 100%;
	font-size: 18px;
	/* line-height: 20px;
	margin: 0 auto;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 10px; */
	text-align: center;
	border-radius: 4px;
	overflow: hidden;
	cursor: pointer;
	text-transform: uppercase;
	color: var(--white);
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear; 
}
.checkbox-tools:not(:checked) + label{
	background-color: var(--dark-light);
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}
.checkbox-tools:checked + label{
	background-color: transparent;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.checkbox-tools:not(:checked) + label:hover{
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.checkbox-tools:checked + label::before,
.checkbox-tools:not(:checked) + label::before{
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 4px;
	background-image: linear-gradient(298deg, #ab44ec, #007bff);
	z-index: -1;
}
.checkbox-tools:checked + label .uil,
.checkbox-tools:not(:checked) + label .uil{
	font-size: 24px;
	line-height: 24px;
	display: block;
	padding-bottom: 10px;
}

.checkbox:checked ~ .checkbox-tools:not(:checked) + label{
	background-color: var(--light);
	color: var(--dark-blue);
	box-shadow: 0 1x 4px 0 rgba(0, 0, 0, 0.05);
}

.checkbox-budget:checked + label,
.checkbox-budget:not(:checked) + label{
	position: relative;
	display: inline-block;
	padding: 0;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 260px;
	font-size: 52px;
	line-height: 52px;
	font-weight: 700;
	letter-spacing: 1px;
	margin: 0 auto;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 10px;
	text-align: center;
	border-radius: 4px;
	overflow: hidden;
	cursor: pointer;
	text-transform: uppercase;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear; 
	-webkit-text-stroke: 1px var(--white);
    text-stroke: 1px var(--white);
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    color: transparent;
}
.checkbox-budget:not(:checked) + label{
	background-color: var(--dark-light);
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}
.checkbox-budget:checked + label{
	background-color: transparent;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.checkbox-budget:not(:checked) + label:hover{
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.checkbox-budget:checked + label::before,
.checkbox-budget:not(:checked) + label::before{
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 4px;
	background-image: linear-gradient(138deg, #ab44ec, #007bff);
	z-index: -1;
}
.checkbox-budget:checked + label span,
.checkbox-budget:not(:checked) + label span{
	position: relative;
	display: block;
}
.checkbox-budget:checked + label span::before,
.checkbox-budget:not(:checked) + label span::before{
	position: absolute;
	content: attr(data-hover);
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	-webkit-text-stroke: transparent;
    text-stroke: transparent;
    -webkit-text-fill-color: var(--white);
    text-fill-color: var(--white);
    color: var(--white);
	-webkit-transition: max-height 0.3s;
	-moz-transition: max-height 0.3s;
	transition: max-height 0.3s;
}
.checkbox-budget:not(:checked) + label span::before{
	max-height: 0;
}
.checkbox-budget:checked + label span::before{
	max-height: 100%;
}

.checkbox:checked ~ .section .container .row .col-xl-10 .checkbox-budget:not(:checked) + label{
	background-color: var(--light);
	-webkit-text-stroke: 1px var(--dark-blue);
    text-stroke: 1px var(--dark-blue);
	box-shadow: 0 1x 4px 0 rgba(0, 0, 0, 0.05);
}

.checkbox-booking:checked + label,
.checkbox-booking:not(:checked) + label{
	position: relative;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	-ms-flex-pack: center;
	text-align: center;
  display: block;
    width: 100%;
	padding: 0;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 30px;
	margin-bottom: 16px;
	text-align: center;
	border-radius: 4px;
	cursor: pointer;
    color: var(--white);
	text-transform: uppercase;
	background-color: var(--dark-light);
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear; 
}
.checkbox-booking:not(:checked) + label::before{
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}
.checkbox-booking:checked + label::before{
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.checkbox-booking:not(:checked) + label:hover::before{
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.checkbox-booking:checked + label::before,
.checkbox-booking:not(:checked) + label::before{
	position: absolute;
	content: '';
	top: -2px;
	left: -2px;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	border-radius: 4px;
	z-index: -2;
	background-image: linear-gradient(138deg, #ab44ec, #007bff);
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear; 
}
.checkbox-booking:not(:checked) + label::before{
	top: -1px;
	left: -1px;
	width: calc(100% + 2px);
	height: calc(100% + 2px);
}
.checkbox-booking:checked + label::after,
.checkbox-booking:not(:checked) + label::after{
	position: absolute;
	content: '';
	top: -2px;
	left: -2px;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	border-radius: 4px;
	z-index: -2;
	background-color: var(--dark-light);
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear; 
}
.checkbox-booking:checked + label::after{
	opacity: 0;
}
.checkbox-booking:checked + label .uil,
.checkbox-booking:not(:checked) + label .uil{
	font-size: 20px;
}
.checkbox-booking:checked + label .text,
.checkbox-booking:not(:checked) + label .text{
	position: relative;
	display: inline-block;
	-webkit-transition: opacity 300ms linear;
	transition: opacity 300ms linear;
}
.checkbox-booking:checked + label .text{
	opacity: 0.6;
}
.checkbox-booking:checked + label .text::after,
.checkbox-booking:not(:checked) + label .text::after{
	position: absolute;
	content: '';
	width: 0;
	left: 0;
	top: 50%;
	margin-top: -1px;
	height: 2px;
	background-image: linear-gradient(138deg, #ab44ec, #007bff);
	z-index: 1;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear; 
}
.checkbox-booking:not(:checked) + label .text::after{
	width: 0;
}
.checkbox-booking:checked + label .text::after{
	width: 100%;
}

.checkbox:checked ~ .section .container .row .col-12 .checkbox-booking:not(:checked) + label,
.checkbox:checked ~ .section .container .row .col-12 .checkbox-booking:checked + label{
	background-color: var(--light);
    color: var(--dark-blue);
}
.checkbox:checked ~ .section .container .row .col-12 .checkbox-booking:checked + label::after,
.checkbox:checked ~ .section .container .row .col-12 .checkbox-booking:not(:checked) + label::after{
	background-color: var(--light);
}

.custom-list-group{
  position: relative;
  z-index: 1;
  background-color: rgb(255,255,255, 0.7);
}
.custom-list-group li{
  background-color: transparent !important;
}
.modifires .modal-body .list-group .list-group-item.selected {
  background-color: #FFF;
  border-left: 4px solid #007bff;
}

.extra-qnty{
  padding: 6px;
  height: 100px;
  display: flex;
  border-radius: 3px;
  position: relative;
	margin-bottom: 15px;
  background-color: var(--dark-light);
  cursor: pointer;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
	z-index: 5;
}
.extra-qnty h6{
  position: absolute;
  right: 6px;
  top: 6px;
  color: #CCC;
  font-size: 12px;
  z-index: 7
}
.extra-qnty h5{
  margin: auto;
  color: #FFF !important;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.qnty-input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #FFF;
  z-index: -1;
  margin: auto;
  /* line-height: 100px; */
  text-align: center;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.extra-qnty.show-inc-dec .qnty-input{
  opacity: 1;
  z-index: 6;
}
.extra-qnty.show-inc-dec h5{
  position: absolute;
  bottom: 6px;
  z-index: 6;
  color: #333 !important;
  opacity: 1;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  text-align: center;
}
.extra-qnty .numbers-row {
  position: relative;
  margin: auto;
  width: 80%;
  /* line-height: 100px; */
}
.extra-qnty .numbers-row input{
  width: 48%;
  text-align: center;
  height: 32px;
  border: 1px solid #EEE;
	margin-top: 34px;
}
.extra-qnty .numbers-row .button{
  background-color: #EEE;
  position: absolute;
  width: 26%;
  height: 32px;
  top: calc(100px - 66px);
  font-size: 25px;
  font-weight: bold;
  line-height: 27px;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}
.extra-qnty .numbers-row .button:focus{
  background-color: #ab44ec;
}
.extra-qnty .numbers-row .inc{
  left: 0;
  border-radius: 5px 0 0 5px;
}
.extra-qnty .numbers-row .dec{
  right: 0;
  border-radius: 0 5px 5px 0;
}
.checkout-calc{
	position: relative;
}
.checkout-calc:after{
	content: '';
	position: absolute;
	left: -15px;
	top: 0px;
	bottom: 0;
	height: 100%;
	width: 1px;
	background-color: rgba(0,0,0,.04);
}


.checkout-details p{
  margin-bottom: 0.35rem;
}

.dropdown-menu.multi_btn{
  width: 360px;
}
.no-focus:focus {
  box-shadow: none;
  border-color: transparent;
}
.name_here{

}
.no-btn-style,
.no-btn-style:hover,
.no-btn-style:active,
.no-btn-style:focus{
  background-color: transparent;
  color: #FFF;
  border: none;
}
.show>.btn-light.no-btn-style.dropdown-toggle {
  background-color: transparent;
  color: #FFF;
  border: none;
}
.arrow_indecator {
  position: absolute;
  left: -20px;
  top: 20%;
  background-color: #FFF;
  border-radius: 50%;
}
.arrow_indecator button.btn {
  position: relative;
  border-color: transparent;
  /* border-color: #007bff; */
  color: #007bff;
  border-width: 1px;
  /* border-right-color: transparent;
  border-bottom-color: transparent;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); */
  border-width: 1px !important;
}
.arrow_indecator button.btn::after {
  position: absolute;
  content: '';
}
.arrow_indecator button.btn::after{
  border: 1px solid #007bff;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  left: 0;
  top: 0;
  border-right-color: transparent;
  border-bottom-color: transparent;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.arrow_indecator button.btn ion-icon{
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-animation: bounceRight 2s infinite;
  animation: bounceRight 2s infinite;
}
/* right bounce */
@-webkit-keyframes bounceRight {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  40% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  60% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
}
@-moz-keyframes bounceRight {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(-5px);
  }
  60% {
    transform: translateX(-3px);
  }
}
@keyframes bounceRight {
  0%,
  20%,
  50%,
  80%,
  100% {
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  40% {
    -ms-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  60% {
    -ms-transform: translateX(-3px);
    transform: translateX(-3px);
  }
}
/* /right bounce */


/* =============== */
/* Calculater */
/* =============== */
/*  */
/*  */
.calculator{
  /* max-width:100vw;
  max-height:100vh;
  display:grid;
  justify-content: center;
  align-content: center;
  min-height:100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px); */
  max-width: 100%;
  /* max-height: 100vh; */
  display: grid;
  justify-content: center;
  align-content: center;
  /* min-height: 100vh; */
  grid-template-columns: repeat(4, 60px);
  grid-template-rows: minmax(10px, auto) repeat(5, 60px);
  
}

.calculator > button {
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  border: none;
  border-radius:5px;
  color: white;
  background-color:rgb(0,0,0,0.38);
  margin: 5px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.calculator > button.btn-action{
  background-color: #646ea0;
}
.calculator > button.btn-shortcut{
  font-size: 0.75rem;
}
.calculator > button:hover {
  /* border-radius:25px; */
  /* margin:1rem; */
  /* transition: width 2s, height 2s, transform 2s; */
  background-color: rgba(0, 0, 0, 0.5);
}

.calculator [data-operation] {
  color:coral; 
}

.calculator [data-all-clear] {
  color: #ffffff;
    background-color: #db7070;
}

.calculator [data-delete] {
  /* color:coral;  */
  color: white;
  background-color: #db7070 !important;
}

.calculator [data-equals] {
  color:white; 
  margin:1rem;
  border-radius:50%;
/*   pointer-events:none; */
  background-color: #bd9513;
}
.calculator [data-equals]:hover {
  background-color: #bd9513;
  margin:1rem;
  border-radius:50%;
  box-shadow: 0px 1px 6px;
}


#output{
  margin: 0px 0px 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  background-color: transparent;
  grid-column: 1/ -1;
  display:flex;
  justify-content: center;
  flex-direction: column;
  /* padding: 10px; */
  text-align: right;
  word-wrap:break-word;
  word-break:break-all;
}

#output .previous-operand {
  color: rgba(255, 255, 255, .75);
  font-size: 1.5rem;
}

#output .current-operand {
  color: white;
  font-size: 2.5rem;
  /* margin-bottom: 1rem; */
}



.calculator-guest {
    width: 260px;
    height: 285px;
    /* height: 340px; */
    background-color: #2a1f3a;
    margin: 0 auto;
    margin-top: 50px;
    border: 1px solid #333;
    border-radius: 10px;
    padding: 10px;
}
form.cal-form {}
form.cal-form input.dispaly {
    font-size: 24px;
    font-weight: bold;
    text-align: right;
    margin-top: 10px;
    margin-bottom: 20px;
}
.button-area {}
.button-line {
    margin-bottom: 10px;
}
.button-line input {
    cursor: pointer;
    width: 71px;
    /* width: 50px; */
    margin-left: 8px;
    background-color: #8a8a8a;
    border-color: #8a8a8a;
    outline: none;

}
.button-line input:nth-child(1) {
    margin-left: 0;
}
