
::-webkit-scrollbar {
  height: 7px;              /* height of horizontal scrollbar ← You're missing this */
  width: 7px;               /* width of vertical scrollbar */
  border: 1px solid #d5d5d5;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #ccc;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #888;
}

.table-scroll-v-240{
  height: 240px;
}

.order-title{
  background: rgb(180,223,255);
  background: radial-gradient(circle, rgba(180,223,255,1) 0%, rgba(243,250,255,1) 100%);
}


.extra-actions .btn.btn-rounded {
  font-size: 28px;
  width: 40px;
  height: 40px;
  line-height: 20px;
  border-radius: 50%;
  padding: 0;
  text-align: center;
  border-width: 2px;
}

.arrow_indecator {
  position: absolute;
  left: -20px;
  top: 20%;
  background-color: #FFF;
  border-radius: 50%;
}
.arrow_indecator button.btn {
  position: relative;
  border-color: transparent;
  /* border-color: #007bff; */
  color: #007bff;
  border-width: 1px;
  /* border-right-color: transparent;
  border-bottom-color: transparent;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); */
  border-width: 1px !important;
}
.arrow_indecator button.btn::after {
  position: absolute;
  content: '';
}
.arrow_indecator button.btn::after{
  border: 1px solid #007bff;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  left: 0;
  top: 0;
  border-right-color: transparent;
  border-bottom-color: transparent;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.arrow_indecator button.btn svg{
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-animation: bounceRight 2s infinite;
  animation: bounceRight 2s infinite;
}
/* right bounce */
@-webkit-keyframes bounceRight {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  40% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  60% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
}
@-moz-keyframes bounceRight {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(-5px);
  }
  60% {
    transform: translateX(-3px);
  }
}
@keyframes bounceRight {
  0%,
  20%,
  50%,
  80%,
  100% {
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  40% {
    -ms-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  60% {
    -ms-transform: translateX(-3px);
    transform: translateX(-3px);
  }
}
/* /right bounce */


.products-tree{

}
.order-title{
  background: rgb(180,223,255);
  background: radial-gradient(circle, rgba(230,243,252,1) 0%, rgba(254,254,254,1) 100%);
}
.level-one{
  margin-bottom: 1rem;
}
.level-one h4,
.level-two h4,
.level-three h4{
  color: #777;
  
  font-size: 18px;
}
.level-two{
  margin-bottom: 1rem;
  /* margin-left: 1rem; */
}
.level-four{
  /* margin-left: 2rem; */
  margin-top: 20px;
}
.level-four .product-box{
  margin-bottom: .75rem;
}
.level-four .product-box .product-img {
  height: 100px;
  margin: 0 auto;
  background-color: #efefef;
}
.level-four .product-box .product-img img {
  max-height: 100%;
  max-width: 100%;
  height: auto;
  width: auto;
}
.products-tree .nav-tabs{
  border: none;
}
.products-tree .nav-tabs .nav-link{
  margin: 0 2px;
  padding: 0;
  /* padding: 0.5rem 0.25rem; */
  border: 1px solid #EEE;
  border-radius: 5px;
  text-align: center;
  width: 125px;
  background-color: #fefefe;
  display: block;
  min-width: 125px;
  height: 125px;
}
.level-one .nav,
.level-two .nav,
.level-three .nav {
  display: inline-flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  overflow-x: auto;
  max-width: 100%;
}

.navbar-dark .navbar-brand img {
  height: 30px;
}
.products-tree .nav-tabs .nav-link img {
  display: block;
  /* width: 77px;
  margin: 0 auto 10px; */
  max-width: 100%;
  width: auto;
  margin: 0 auto 5px;
  height: 90px;
      min-height: 90px;
}
.products-tree .nav-tabs .nav-link span{
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  white-space: pre-wrap;
  display: block;
  font-size: 16px;
  color: #666;
  
}
.products-tree .nav-tabs .nav-item.show .nav-link, 
.products-tree .nav-tabs .nav-link.active{
  background-color: cadetblue;
  background-color: #a5adad;
} 
.products-tree .nav-tabs .nav-link.active span{
  color: white;
}
.products-tree .tab-content .row {
  margin-right: -5px;
  margin-left: -5px;
  white-space: nowrap;
  /* display: inline-flex; */
  height: 100%;
  max-height: 38vh;
  overflow-x: auto;
}
.products-tree .tab-content .row .col-2 {
  padding-right: 5px;
  padding-left: 5px;
}
.products-tree .tab-content .row .col-2 .card {
  margin-bottom: 1rem;
  border: none;
  box-shadow: 0 0 5px #ccc;
}
.products-tree .level-three img {
  border-radius: .25rem .25rem 0 0;
}
.products-tree .level-three .card-body{
  padding: 0.10rem;
  font-size: 12px;
}
.products-tree .tab-content .row .col-3 .card .card-body a {
  color: #777;
  
  font-size: 14px;
}
.products-tree .search-input-group .form-control:focus{
  border: 1px solid #007bff;
  box-shadow: none;
}
.product-price {
  position: absolute;
  right: 0px;
  top: 0px;
  /* background-color: #3130a6; */
  background-color: #9393ea;
  padding: 0.15rem;
  border-radius: 0.25rem;
  font-size: 11px;
  font-weight: 900;
  z-index: 10;
  color: #FFF;
}
.absolute_link{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

/* =============== */
/* Calculater */
/* =============== */
/*  */
/*  */
.calculator{
  /* max-width:100vw;
  max-height:100vh;
  display:grid;
  justify-content: center;
  align-content: center;
  min-height:100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px); */
  max-width: 100%;
  /* max-height: 100vh; */
  display: grid;
  justify-content: center;
  align-content: center;
  /* min-height: 100vh; */
  grid-template-columns: repeat(4, 60px);
  grid-template-rows: minmax(10px, auto) repeat(5, 60px);
  
}

.calculator > button {
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  border: none;
  border-radius:5px;
  color: white;
  background-color:rgb(0,0,0,0.38);
  margin: 5px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.calculator > button.btn-action{
  background-color: #646ea0;
}
.calculator > button.btn-shortcut{
  font-size: 0.75rem;
}
.calculator > button:hover {
  /* border-radius:25px; */
  /* margin:1rem; */
  /* transition: width 2s, height 2s, transform 2s; */
  background-color: rgba(0, 0, 0, 0.5);
}

.calculator [data-operation] {
  color:coral; 
}

.calculator [data-all-clear] {
  color: #ffffff;
    background-color: #db7070;
}

.calculator [data-delete] {
  /* color:coral;  */
  color: white;
  background-color: #db7070 !important;
}

.calculator [data-equals] {
  color:white; 
  margin:1rem;
  border-radius:50%;
/*   pointer-events:none; */
  background-color: #bd9513;
}
.calculator [data-equals]:hover {
  background-color: #bd9513;
  margin:1rem;
  border-radius:50%;
  box-shadow: 0px 1px 6px;
}


#output{
  margin: 0px 0px 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  background-color: transparent;
  grid-column: 1/ -1;
  display:flex;
  justify-content: center;
  flex-direction: column;
  /* padding: 10px; */
  text-align: right;
  word-wrap:break-word;
  word-break:break-all;
}

#output .previous-operand {
  color: rgba(255, 255, 255, .75);
  font-size: 1.5rem;
}

#output .current-operand {
  color: #9e9e9e;
  font-size: 2.5rem;
  /* margin-bottom: 1rem; */
}



.calculator-guest {
  width: 260px;
  height: 285px;
  /* height: 340px; */
  background-color: transparent;
  margin: 0 auto;
  /* margin-top: 50px; */
  /* border: 1px solid #333; */
  border-radius: 10px;
  padding: 10px;
}
form.cal-form {}
form.cal-form input.dispaly {
  font-size: 24px;
  font-weight: bold;
  text-align: right;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #AAA;
  border-radius: 0px;
}
form.cal-form input.dispaly:focus{
  border: none;
  box-shadow: none;
  outline: none;
  outline: 0px;
}
.button-area {}
.button-line {
  margin-bottom: 10px;
}
.button-line input {
  cursor: pointer;
  width: 71px;
  /* width: 50px; */
  margin-left: 8px;
  background-color: #f4f4f4;
  border-color: transparent;
  outline: none;
  color: #666;
  font-weight: bold;
  font-size: 1.1rem;
}
.button-line input:focus,
.button-line input:hover{
  background-color:#f1f1f1;
  box-shadow: none;
  border: none;
  outline: none;
  outline: 0px;
  color: #666;
}
.button-line input:nth-child(1) {
  margin-left: 0;
}
.guests .modal-dialog{
  width: 280px;
}

.user_dropdown .dropdown-menu{
  left: -150px;
}
.user_dropdown button img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

button.btn:focus,
button.btn:hover,
button.btn:active {
  box-shadow: none;
  outline: none;
  outline: 0px;
}
.navbar-collapse-custom li{
  padding-top: 5px;
}

@media all and (min-width: 992px) {
	.navbar .dropdown-menu-end{ right:0; left: auto;  }
	.navbar .nav-item .dropdown-menu{  display:block; opacity: 0;  visibility: hidden; transition:.3s; margin-top:0;  }
	.navbar .nav-item:hover .nav-link{ color: #fff;  }
	.navbar .dropdown-menu.fade-down{ top:80%; transform: rotateX(-75deg); transform-origin: 0% 0%; }
	.navbar .dropdown-menu.fade-up{ top:180%;  }
	.navbar .nav-item:hover .dropdown-menu{ transition: .3s; opacity:1; visibility:visible; top:100%; transform: rotateX(0deg); }
}

.dropdown-before .dropdown-menu::before{
  position: absolute;
  top: -8px;
  content: '';
  left: 45px;
  width: 16px;
  height: 16px;
  background-color: #ffffff;
  transform: rotateZ(45deg);
  border-bottom-color: transparent;
}

.dropdown-before.user_dropdown .dropdown-menu::before{
  left: auto;
  right: 10px;
}

.user_icon{
  margin-bottom: -10px;
}

.orders_noti{
  position: relative;
}
.orders_noti .badge{
  position: absolute;
  right: -7px;
  top: -12px;
}


.value-box {
  margin: 0 auto;
  text-align: center;
}
.value-box .value-button {
  display: inline-block;
  border: 1px solid #ddd;
  margin: 0px;
  width: 20px;
  height: 20px;
  text-align: center;
  /* vertical-align: middle; */
  padding: 11px 0;
  background: #eee;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 0px;
}

.value-box .value-button:hover {
  cursor: pointer;
}

.value-box #decrease {
  margin-right: -4px;
  border-radius: 8px 0 0 8px;
}

.value-box  #increase {
  margin-left: -4px;
  border-radius: 0 8px 8px 0;
}

/* form #input-wrap {
  margin: 0px;
  padding: 0px;
} */

.value-box input#number {
  text-align: center;
  border: none;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin: 0px;
  width: 40px;
  /* height: 40px; */
  height: 24px;
}

.value-box input[type=number]::-webkit-inner-spin-button,
.value-box input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.extras_list li{
 position: relative;
 padding-right: 50px;
}
.extras_list li .trash{
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.extras_list li .trash button{
  padding: 0.5rem;
  display: block;
  line-height: 1;
}


:root {
	--white: #ffffff;
	--light: #f0eff3;
	--black: #000000;
	--dark-blue: #1f2029;
	--dark-light: #353746;
	--red: #da2c4d;
	--yellow: #f8ab37;
	--grey: #ecedf3;
}

/* #Primary
================================================== */

.checks_radios_area p{
    font-family: 'Poppins', sans-serif;
	font-size: 17px;
	line-height: 30px;
	color: var(--white);
	letter-spacing: 1px;
	font-weight: 500;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear; 
}
::selection {
	color: var(--white);
	background-color: var(--black);
}
::-moz-selection {
	color: var(--white);
	background-color: var(--black);
}
mark{
	color: var(--white);
	background-color: var(--black);
}
.section {
  position: relative;
	width: 100%;
	display: block;
	/* text-align: center; */
	margin: 0 auto;
}
.over-hide {
    overflow: hidden;
}
.z-bigger {
    z-index: 100 !important;
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked),
[type="radio"]:checked,
[type="radio"]:not(:checked){
	position: absolute;
	left: -9999px;
	width: 0;
	height: 0;
	visibility: hidden;
}
.checkbox:checked + label,
.checkbox:not(:checked) + label{
	position: relative;
	width: 70px;
	display: inline-block;
	padding: 0;
	margin: 0 auto;
	text-align: center;
	margin: 17px 0;
	margin-top: 100px;
	height: 6px;
	border-radius: 4px;
	background-image: linear-gradient(298deg, #ab44ec, #007bff);
	z-index: 100 !important;
}
.checkbox:checked + label:before,
.checkbox:not(:checked) + label:before {
	position: absolute;
	font-family: 'unicons';
	cursor: pointer;
	top: -17px;
	z-index: 2;
	font-size: 20px;
	line-height: 40px;
	text-align: center;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear; 
}
.checkbox:not(:checked) + label:before {
	content: '\eac1';
	left: 0;
	color: var(--grey);
	background-color: var(--dark-light);
	box-shadow: 0 4px 4px rgba(0,0,0,0.15), 0 0 0 1px rgba(26,53,71,0.07);
}
.checkbox:checked + label:before {
	content: '\eb8f';
	left: 30px;
	color: var(--yellow);
	background-color: var(--dark-blue);
	box-shadow: 0 4px 4px rgba(26,53,71,0.25), 0 0 0 1px rgba(26,53,71,0.07);
}

.checkbox:checked ~ .section .container .row .col-12 p{
	color: var(--dark-blue);
}


.checkbox-tools:checked + label,
.checkbox-tools:not(:checked) + label{
	position: relative;
	/* display: inline-block; */
	padding: 13px;
	width: 100%;
	/* font-size: 18px; */
	/* line-height: 20px;
	margin: 0 auto;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 10px; */
	text-align: center;
	border-radius: 4px;
	overflow: hidden;
	cursor: pointer;
	text-transform: uppercase;
	color: var(--white);
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear; 
}
.checkbox-tools:checked + label {
  color: #000000 !important;
}
.checkbox-tools:not(:checked) + label{
	background-color: var(--dark-light);
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}
.checkbox-tools:checked + label{
	background-color: transparent;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.checkbox-tools:not(:checked) + label:hover{
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.checkbox-tools:checked + label::before,
.checkbox-tools:not(:checked) + label::before{
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 4px;
	/* background-image: linear-gradient(298deg, #ab44ec, #007bff); */
	z-index: -1;
  background-color: #FFF;
  color: #1f2029;
}
.checkbox-tools:checked + label .uil,
.checkbox-tools:not(:checked) + label .uil{
	font-size: 24px;
	line-height: 24px;
	display: block;
	padding-bottom: 10px;
}

.checkbox:checked ~ .checkbox-tools:not(:checked) + label{
	background-color: var(--light);
	color: var(--dark-blue);
	box-shadow: 0 1x 4px 0 rgba(0, 0, 0, 0.05);
}

.checkbox-budget:checked + label,
.checkbox-budget:not(:checked) + label{
	position: relative;
	display: inline-block;
	padding: 0;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 260px;
	font-size: 52px;
	line-height: 52px;
	font-weight: 700;
	letter-spacing: 1px;
	margin: 0 auto;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 10px;
	text-align: center;
	border-radius: 4px;
	overflow: hidden;
	cursor: pointer;
	text-transform: uppercase;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear; 
	-webkit-text-stroke: 1px var(--white);
    text-stroke: 1px var(--white);
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    color: transparent;
}
.checkbox-budget:not(:checked) + label{
	background-color: var(--dark-light);
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}
.checkbox-budget:checked + label{
	background-color: transparent;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.checkbox-budget:not(:checked) + label:hover{
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.checkbox-budget:checked + label::before,
.checkbox-budget:not(:checked) + label::before{
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 4px;
	background-image: linear-gradient(138deg, #ab44ec, #007bff);
	z-index: -1;
}
.checkbox-budget:checked + label span,
.checkbox-budget:not(:checked) + label span{
	position: relative;
	display: block;
}
.checkbox-budget:checked + label span::before,
.checkbox-budget:not(:checked) + label span::before{
	position: absolute;
	content: attr(data-hover);
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	-webkit-text-stroke: transparent;
    text-stroke: transparent;
    -webkit-text-fill-color: var(--white);
    text-fill-color: var(--white);
    color: var(--white);
	-webkit-transition: max-height 0.3s;
	-moz-transition: max-height 0.3s;
	transition: max-height 0.3s;
}
.checkbox-budget:not(:checked) + label span::before{
	max-height: 0;
}
.checkbox-budget:checked + label span::before{
	max-height: 100%;
}

.checkbox:checked ~ .section .container .row .col-xl-10 .checkbox-budget:not(:checked) + label{
	background-color: var(--light);
	-webkit-text-stroke: 1px var(--dark-blue);
    text-stroke: 1px var(--dark-blue);
	box-shadow: 0 1x 4px 0 rgba(0, 0, 0, 0.05);
}

.checkbox-booking:checked + label,
.checkbox-booking:not(:checked) + label{
	position: relative;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	-ms-flex-pack: center;
	text-align: center;
  display: block;
    width: 100%;
	padding: 0;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 30px;
	margin-bottom: 16px;
	text-align: center;
	border-radius: 4px;
	cursor: pointer;
    color: var(--white);
	text-transform: uppercase;
	background-color: var(--dark-light);
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear; 
}
.checkbox-booking:not(:checked) + label::before{
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}
.checkbox-booking:checked + label::before{
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.checkbox-booking:not(:checked) + label:hover::before{
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.checkbox-booking:checked + label::before,
.checkbox-booking:not(:checked) + label::before{
	position: absolute;
	content: '';
	top: -2px;
	left: -2px;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	border-radius: 4px;
	z-index: -2;
	background-image: linear-gradient(138deg, #ab44ec, #007bff);
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear; 
}
.checkbox-booking:not(:checked) + label::before{
	top: -1px;
	left: -1px;
	width: calc(100% + 2px);
	height: calc(100% + 2px);
}
.checkbox-booking:checked + label::after,
.checkbox-booking:not(:checked) + label::after{
	position: absolute;
	content: '';
	top: -2px;
	left: -2px;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	border-radius: 4px;
	z-index: -2;
	background-color: var(--dark-light);
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear; 
}
.checkbox-booking:checked + label::after{
	opacity: 0;
}
.checkbox-booking:checked + label .uil,
.checkbox-booking:not(:checked) + label .uil{
	font-size: 20px;
}
.checkbox-booking:checked + label .text,
.checkbox-booking:not(:checked) + label .text{
	position: relative;
	display: inline-block;
	-webkit-transition: opacity 300ms linear;
	transition: opacity 300ms linear;
}
.checkbox-booking:checked + label .text{
	opacity: 0.6;
}
.checkbox-booking:checked + label .text::after,
.checkbox-booking:not(:checked) + label .text::after{
	position: absolute;
	content: '';
	width: 0;
	left: 0;
	top: 50%;
	margin-top: -1px;
	height: 2px;
	background-image: linear-gradient(138deg, #ab44ec, #007bff);
	z-index: 1;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear; 
}
.checkbox-booking:not(:checked) + label .text::after{
	width: 0;
}
.checkbox-booking:checked + label .text::after{
	width: 100%;
}

.checkbox:checked ~ .section .container .row .col-12 .checkbox-booking:not(:checked) + label,
.checkbox:checked ~ .section .container .row .col-12 .checkbox-booking:checked + label{
	background-color: var(--light);
    color: var(--dark-blue);
}
.checkbox:checked ~ .section .container .row .col-12 .checkbox-booking:checked + label::after,
.checkbox:checked ~ .section .container .row .col-12 .checkbox-booking:not(:checked) + label::after{
	background-color: var(--light);
}

.custom-list-group{
  position: relative;
  z-index: 1;
  background-color: rgb(255,255,255, 0.7);
}
.custom-list-group li{
  background-color: transparent !important;
}
.modifires .modal-body .list-group .list-group-item.selected {
  background-color: #FFF;
  border-left: 4px solid #007bff;
}

.extra-qnty{
  padding: 6px;
  height: 100px;
  display: flex;
  border-radius: 3px;
  position: relative;
	margin-bottom: 15px;
  background-color: var(--dark-light);
  cursor: pointer;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
	z-index: 5;
  box-shadow: 0 0px 16px 0 rgba(0, 0, 0, 0.2);
}
.extra-qnty h6{
  position: absolute;
  right: 6px;
  top: 6px;
  color: #CCC;
  font-size: 12px;
  z-index: 7
}
.extra-qnty h5{
  font-size: 1rem;
  margin: auto;
  color: #FFF !important;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.qnty-input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #FFF;
  z-index: -1;
  margin: auto;
  border-radius: 3px;
  /* line-height: 100px; */
  text-align: center;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.extra-qnty.show-inc-dec .qnty-input{
  opacity: 1;
  z-index: 6;
}
.extra-qnty.show-inc-dec h5{
  position: absolute;
  bottom: 6px;
  z-index: 6;
  color: #333 !important;
  opacity: 1;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  text-align: center;
}
.extra-qnty .numbers-row {
  position: relative;
  margin: auto;
  width: 80%;
  /* line-height: 100px; */
}
.extra-qnty .numbers-row input{
  width: 48%;
  text-align: center;
  height: 32px;
  border: 1px solid #EEE;
	margin-top: 34px;
}
.extra-qnty .numbers-row .button{
  background-color: #EEE;
  position: absolute;
  width: 26%;
  height: 32px;
  top: calc(100px - 66px);
  font-size: 25px;
  font-weight: bold;
  line-height: 27px;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}
.extra-qnty .numbers-row .button:focus{
  background-color: #ab44ec;
}
.extra-qnty .numbers-row .inc{
  left: 0;
  border-radius: 5px 0 0 5px;
}
.extra-qnty .numbers-row .dec{
  right: 0;
  border-radius: 0 5px 5px 0;
}
.checkout-calc{
	position: relative;
}
.checkout-calc:after{
	content: '';
	position: absolute;
	left: -15px;
	top: 0px;
	bottom: 0;
	height: 100%;
	width: 1px;
	background-color: rgba(0,0,0,.04);
}



.calc_payment{
  border: 1px solid #efefef;
  border-radius: 0.25rem;
  position: relative;
  margin-bottom: 1rem;
  top: -1px;
  margin: 0 -9px;
}
.calc_payment::before {
  position: absolute;
  height: 100%;
  width: 1px;
  background-color: #efefef;
  content: '';
  top: -1px;
  left: 50%;
  bottom: -1px;
}
.calc_payment button.payment{
  display: block;
  width: 100%;
  height: 200px;
  /* line-height: 200px; */
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  position: relative;
}
.calc_payment button.payment .btn-txt{
  position: relative;
  top: -30px;
}
.calc_payment button.payment .btn-txt .arrow_indecator-2{
  
}
.calc_payment button.payment .total-payment {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: #353746;
  font-weight: normal;
  background-color: #eef0f8;
  margin: 0;
  padding: 0 10px;
  height: 50px;
  line-height: 50px;
}
.calc_payment button.payment .btn-txt .arrow_indecator-2 label.label{
  width: 50px;
  height: 50px;
  line-height: 50px;
  -webkit-animation: bounceRight 2s infinite;
  animation: bounceRight 2s infinite;
}
.calc_payment button.payment .btn-txt .arrow_indecator-2 .txt-payment{
  font-size: 1.6rem;
  color: #777;
}
.calc_payment button.payment .btn-txt .arrow_indecator-2 i{
  font-size: 2rem;
}



.calc_numbers{
  overflow: hidden;
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.calc_numbers li {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
  list-style: none;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-right: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
}
.calc_numbers li.double-col{
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}
.calc_numbers li.double_row{
  height: 100px;
}
.calc_numbers li:nth-child(4),
.calc_numbers li:nth-child(8),
.calc_numbers li:nth-child(12),
.calc_numbers li:nth-child(16){
  border-right: 0px solid transparent;
}
.calc_numbers li:nth-child(13),
.calc_numbers li:nth-child(14),
.calc_numbers li:nth-child(15),
.calc_numbers li:nth-child(16){
  border-bottom: 0px solid transparent;
}
.calc_numbers li button,
.calc_numbers li .btn{
  border: none;
  background-color: transparent;
  display: block;
  text-align: center;
  margin: auto;
  width: 100%;
  height: 100%;
  color: #777;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 0;
}
.calc_numbers li button.num_action{
  font-weight: normal;
  font-size: 1.1rem;
}
.calc_numbers li button.add_discount{
  /* margin-top: -50px;
  height: 100px;
  display: block;
  position: relative;
  top: 0; */
}
@media (min-width: 768px){
  .calc_numbers li button.num_action{
  font-size: 1.6rem;
}
}
.calc_numbers li button.qty{
  background-color: #c9f7f5;
  border-top-right-radius: 0.25rem;
}
.calc_numbers li button.del{
  background-color: #ffe2e5;
  border-bottom-right-radius: 0.25rem;
  font-size: 3rem;
}
.calc_numbers_customers{
  border: 1px solid #EEE;
  border-radius: 5px;
  margin-top: 30px;
}
.devider-tbl{
  height: 3px;
}

.custom-header{
  background-color: #23245f !important;
}

.items_table tbody tr.main_tr {
  cursor: pointer;
  border-bottom: 1px solid #EEE;
}

.items_table tbody tr.selected_tr td {
  background-color: #f7f8fe;
}
.items_table tbody tr td{
  border-top: none;
}
.items_table tbody tr td table{}
.items_table tbody tr td table tr{}
/* .items_table tbody tr td table tr.tr_action_btns{} */
.items_table tbody tr td table tr.tr_action_btns{
  display: none;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.items_table tbody tr.selected_tr td table tr.tr_action_btns{
  display: table-row;
}
.items_table tbody tr td table tr td{}

input.items_count{
  text-align: center;
  width: 50px;
  border: none;
  background-color: transparent;
  font-size: 1.8rem;
  font-weight: 500;
}
input.items_count:focus {
  outline: none;
  border: none;
  background-color: transparent;
}
.new_customer{
  display: none;
}
#usersModal .modal-body{
  height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
}

.left_section{
  position: relative;
}
@media (min-width: 768px){
  .left_section{
    position: -webkit-sticky;
    position: sticky;
    top: 90px;
    /* position: fixed;
    max-width: 39.66667%;
    width: 39.66667%; */
  } 
}
.search_box{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  padding: 0;
}
.search_box .topbar-item{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.orders_btn{
  position: relative;
}
.orders_btn .label{
  position: absolute;
  top: -10px;
  left: 28px;
  padding: 0.2rem;
  font-size: 1.2rem;
  width: 34px;
  height: 34px;
  line-height: 34px;
  border-radius: 50%;
  background-color: #cf8312;
  color: #FFF;
}
.guest_btn .label {
  height: 16px;
  width: 16px;
  line-height: 18px;
}
@media (max-width: 991.98px){
  .header-mobile {
    background-color: #23245f;
  }
}
.table.items_table td, 
.table.items_table th{
  vertical-align: top;
} 
#paymentModal .modal-body{
  min-height: 500px;
}
#set_customer_btn{
  display: none;
}
.customer_table tbody tr{
  cursor: pointer;
}


.discount_input,
.price_input,
.discount_inputCur{
  outline: none;
  border: none;
  box-shadow: none;
  width: 22px;
  background-color: transparent;
}
.discount_input:focus,
.price_input:focus{
  outline: none;
  border: none;
  box-shadow: none;
}
.price_pad,
.disc_pad{
  display: none;
}
.chose_payment_methods a{
  padding: 2rem;
  background-color: #f7f7f7;
}
.selected_payment{
  margin-bottom: 2rem;
}
.selected_payment a{
  padding: 2rem;
}
.selected_payment a .remove_btn{
  float: right;
}

.counting_payment{
  display: none;
}


/*====================================
=========== MIX It Up
====================================*/
/* Controls
---------------------------------------------------------------------- */

.byCat{}
.byCat .products-widget-control{
  overflow: hidden;
}
.byCat .products-widget-control .forAll{
}

.byCat .products-widget-control ul.controls{
  padding: 0;
  margin: 0;
  list-style: none;
}
.byCat .products-widget-control ul li.control {
  list-style: none;
  padding: 0 3px;
}
.byCat .products-widget-control{}
.byCat .products-widget-control{}
.byCat .products-widget-control{}
.byCat .products-widget-control{}
.byCat{}
.byCat{}
.byCat{}
.byCat{}
.byCat{}
.byCat{}
.byCat{}
.byCat{}
.byCat{}
.byCat{}
.byCat{}
.byCat{}
.byCat{}
.byCat{}
.byCat{}

/* .control:hover {
    background: #3f3f3f;
} */

/* .control[data-filter]:after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    top: calc(50% - 6px);
    left: calc(50% - 6px);
    border: 2px solid currentColor;
    border-radius: 2px;
    background: currentColor;
    transition: background-color 150ms, border-color 150ms;
} */

/* .control[data-sort]:after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-top: 2px solid;
    border-left: 2px solid;
    top: calc(50% - 6px);
    left: calc(50% - 6px);
    transform:  translateY(1px) rotate(45deg);
}

.control[data-sort*=":desc"]:after {
    transform:  translateY(-4px) rotate(-135deg);
} */

/* .mixitup-control-active {
    background: #393939;
}

.mixitup-control-active[data-filter]:after {
    background: transparent;
}

.control:first-of-type {
    border-radius: 3px 0 0 3px;
}

.control:last-of-type {
    border-radius: 0 3px 3px 0;
}

.control[data-filter] + .control[data-sort] {
    margin-left: .75rem;
}

.control[data-filter=".green"] {
    color: #91e6c7;
}

.control[data-filter=".blue"] {
    color: #5ecdde;
}

.control[data-filter=".pink"] {
    color: #d595aa;
}

.control[data-filter="none"] {
    color: #2f2f2f;
} */

/* Container
---------------------------------------------------------------------- */

/* .container1 {
    padding: 1rem;
    text-align: justify;
    font-size: 0.1px;
}

.container1:after {
    content: '';
    display: inline-block;
    width: 100%;
} */

/* Target Elements
---------------------------------------------------------------------- */

/* .mix,
.gap {
    display: inline-block;
    vertical-align: top;
}

.mix {
    background: #fff;
    border-top: .5rem solid currentColor;
    border-radius: 2px;
    margin-bottom: 1rem;
    position: relative;
}

.mix:before {
    content: '';
    display: inline-block;
    padding-top: 56.25%;
}

.mix.green {
    color: #91e6c7;
}

.mix.pink {
    color: #d595aa;
}

.mix.blue {
    color: #5ecdde;
} */

/* Grid Breakpoints
---------------------------------------------------------------------- */

/* 2 Columns */

.mix,
.gap {
    /* width: calc(100%/2 - (((2 - 1) * 1rem) / 2)); */
}

/* 3 Columns */

@media screen and (min-width: 541px) {
    .mix,
    .gap {
        /* width: calc(100%/3 - (((3 - 1) * 1rem) / 3)); */
    }
}

/* 4 Columns */

@media screen and (min-width: 961px) {
    .mix,
    .gap {
        /* width: calc(100%/4 - (((4 - 1) * 1rem) / 4)); */
    }
}

/* 5 Columns */

@media screen and (min-width: 1281px) {
    .mix,
    .gap {
        /* width: calc(100%/5 - (((5 - 1) * 1rem) / 5)); */
    }
}

